/*
Team 09
Canh Ha An Nguyen 	1098402 	Melbourne
Ashleigh Armstrong 	1112426 	Melbourne
Yuanlong Zhang 		772312 	    Melbourne
Yinsong Chen 		945600	    Melbourne
Xiaofu Ning 		1033578	    Melbourne
*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.heatmap-panel {
  background-color: #242424;
  color: #9FFFCB;
  font-weight: bold;
  text-align: center;
}

.heatmap-panel select {
  margin-right: 20px;
  margin-left: 5px;
  background-color: black;
  color: #9FFFCB;
}

.heatmap-panel button {
  padding: 3px 10px;
  background-color: black;
  color: #9FFFCB;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  height: 30px;
}

.legend {
  position: absolute;
  top: 100;
  z-index: 100;
  background-color: white;
  padding: 30px 30px;
  min-width: 90px;
  min-height: 70px;
  border-radius: 20px;
}

.legend .group {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.legend .first-group {
  background-color: #e4e3e3;
}

.legend .second-group {
  background-color: #adadad;
}

.legend .third-group {
  background-color: #4c4c4c;
}
